.scheduler-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    
}
.react-datepicker {
    border: 2px solid #906E39;
    background-color: transparent;
}

.react-datepicker__day {
    color: white;
}
.react-datepicker__day:hover {
    background-color: grey;
}
.react-datepicker__header{
    background-color:#906E39;
}